<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
	<th:block layout:fragment="libraryTitle">
		<title>나의 북캘린더</title>
 	</th:block>   	
	<th:block layout:fragment="customScript">
	<link th:href="@{/libraryStatic/fullcalendar/packages/core/main.css}" rel="stylesheet" />
   	<link th:href="@{/libraryStatic/fullcalendar/packages/daygrid/main.css}" rel="stylesheet" />   
   	<link th:href="@{/libraryStatic/fullcalendar/packages/timegrid/main.css}" rel="stylesheet" />   
   	<script th:src="@{/libraryStatic/fullcalendar/packages/core/main.js}"></script>
   	<script th:src="@{/libraryStatic/fullcalendar/packages/daygrid/main.js}"></script>
   	<script th:src="@{/libraryStatic/fullcalendar/packages/timegrid/main.js}"></script>
   	<script th:src="@{/libraryStatic/fullcalendar/packages/interaction/main.js}"></script>
   	<script th:src="@{/libraryStatic/fullcalendar/packages/core/locales/ko.js}"></script>
   	<script type="text/javascript">
   	$(document).ready(function() {
		//캘린더 생성
        var calendar = new FullCalendar.Calendar($('#bookCalendar')[0], {
	          plugins: [ 'dayGrid', 'timeGrid','interaction'],
	          header: {
	              left: 'dayGridMonth,timeGridWeek,timeGridDay',
	              center: 'title'
	            },
	          eventLimit: true,  
	          events: function(info, successCallback, failureCallback ){
	        	//ajax로 DB에서 data가져오기
	        	  $.ajax({ 
	        	     url: '/lifrary/getMyCalenderList', 
	        	     dataType: 'json',
	        	   /*   data:{
	        	    	 start: moment(info.startStr).format('YYYY-MM-DD'),
	        	    	 end: moment(info.endStr).format('YYYY-MM-DD')
	        	    	 start: info.start.valueOf(),
        				 end: info.end.valueOf()
	        	     }, */
	        	     success: function(data) { 
		        	     console.log(data);
		        	      var events = [];
		        	      //반복문
		        	      $.each(data, function(index, list) { 
		        	      	events.push({
		        	      	   id: list.cCode,	
		        	      	   start: list.cStartDate,
		        	      	   imageurl: list.biImg
		        	      	}); 
		        	      }); 
		        	      console.log(events);
		        	      successCallback(events);
	        	     } //success
	        	 });//ajax
	          },
	         //이미지 넣기
	         eventRender: function(info) {
	              if (info.event.extendedProps.imageurl) {
	                  info.el.firstChild.innerHTML = info.el.firstChild.innerHTML + '<img src="' + info.event.extendedProps.imageurl +'" style="height: 90px; width=100%;">';
	              }
	          },
	        /*  eventRender: function(info) {
	              if (info.event.extendedProps.imageurl) {
	            	  info.el.firstChild.innerHTML ='<div><a href="#">'+ info.event.title +'</a><img src="' + info.event.extendedProps.imageurl +'" width="40" height="40"></div>';
	              }
	          } */
	        contentHeight: 750,
	        dateClick: function(info) {
	        	console.log(info);
	            alert('Date: ' + info.dateStr);
	          }
          });//calendar
        calendar.render();
            
      });//document.ready
     
    </script>
    <style type="text/css">
    #bookCalendar {
        max-width: 800px;
        margin: 0 0 20px;
    }
    #bookCalendar h2 {
    	color: #2C3E50;
    }
   .fc-event, .fc-event-dot{
    	background-color: rgba(0, 0, 0, 0);
    }
    .fc-event{
    	border: rgba(0, 0, 0, 0);
    }

</style>
  
	<th:block layout:fragment="customContents">

       <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Book & Diary</h2>
                    <span class="underline center"></span>
                    <p class="lead">매일 매일 적어보는 북다이어리</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Book & Diary</li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-media-list">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                <section class="search-filters">
                                    <div class="container">
                                        <div class="filter-box">
                                            <h3>내 독서 목표량 진행 상황</h3>
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="keywords">년도별 목표량</label>
                                                        <input class="form-control" placeholder="년별 목표량"  type="text" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="keywords">분기별 목표량</label>
                                                        <input class="form-control" placeholder="분기별 목표량"  type="text" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="keywords">월별 목표량</label>
                                                        <input class="form-control" placeholder="월별목표량" type="text" readonly="readonly">
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- End: Search Section -->
                            </div>
                            <div class="row">
                                <div class="col-md-9 col-md-push-3">
                                    <div id="bookCalendar"></div>
                                </div>
                                <!-- 마이페이지 사이드메뉴  -->
                                <div th:replace="/fragments/library/myPageLeftMenu :: myPageLeftMenuFragment"></div>
                                <!-- 마이페이지 사이드메뉴-->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="modal fade" id="studySetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">서재 카테고리 설정</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
	                  <div class="col-md-12">
	                  	<div class="col-sm-12">		
                      	   <p>*최대 20글자까지 설정 가능합니다</p>
	                       <input class="form-control" type="text" placeholder="카테고리명">
	                  	</div>
	                  </div>
	                  <div class="col-md-12">
	                  	<div class="col-sm-6">
	                       <button type="button" id="updateBtn" class="btn btn-primary form-control">수정</button>
	                  	</div>
	                  	<div class="col-sm-6">
	                       <button type="button" id="deleteBtn" class="btn btn-primary form-control">삭제</button>
	                  	</div>
                  	 </div>
                 </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-dark-gray" data-dismiss="modal" aria-label="Close">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>
    </th:block>
</html>