<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
    
    
    <th:block layout:fragment="customContents">
       
		<section class="page-banner news-listing-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Book Diary</h2>
                    <span class="underline center"></span>
                    <p class="lead">북다이어리~~~</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a href="/">메인화면</a></li>
                        <li>북 다이어리</li>
                    </ul>
                </div>
            </div>
        </section>
	        <!-- End: Page Banner -->
		
	       
	        <!-- Start: reading Room Section -->
	        	<section class ="section-padding">
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="main-news-list">
                        <div class="container">
                            
                            <div class="row">
                                <div class="col-md-9 col-md-push-3 news-events-list-view">
                                    <div class="news-list-box">
                                        <div class="single-news-list">  
                                                                      
											<span style="font-size: 40px;">북다이어리</span>											
	                                        <section class = "section-padding">
											<div style="background-color: #CCCC99; font-size: 15px; font-style: italic">
												목표량, 캘린더화면 출력예정~~
											</div>	                                        
	                                        </section>
	                                        <div class="clearfix"></div>
	                                        
	                                    </div>
                              	 </div>                                                                                                          
                          </div>
                                
                                <!-- start : facility Left Menu -->                          
                                                               
	                          <div class="col-md-3 col-md-pull-9">
						         <aside id="secondary" class="sidebar widget-area">
						             
						             <div class="widget widget_related_search">
						                 <h4 class="widget-title" data-control>마이페이지</h4>
						                 <div class="widget_categories">
						                     <ul>
						                         <li><h3><a href="#">내 정보</a></h3></li>
						                         <li><h3><a href="#">내 도서현황</a></h3></li>
						                         <li><h3><a href="#">내 서재</a></h3></li>
						                         <li><h3><a href="#">내 프로그램신 청 내역</a></h3></li>
						                         <li><h3><a href="#">내 공공시설 신청 내역</a></h3></li>
						                         <li><h3><a href="#">희망도서 신청 내역</a></h3></li> 
						                     </ul>
						                 </div>
						               </div>
						        	 </aside>
						    	 </div>
                                
                            	<!-- end : facility Left Menu -->
                            
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
        </section>
       
    </th:block>
</html>