<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ksmart.pentagon.bookcarry.BookCarryMapper">
  
  	<resultMap type="ksmart.pentagon.vo.BookInformation" id="bookInfoResultMap">	         
	         <result property="biIsbn" column="bi_isbn"/>	         
	         <result property="biName" column="bi_name"/>
	         <result property="biYear" column="bi_year"/>	         
	         <result property="biAuthor" column="bi_author"/>
	         <result property="biPublisher" column="bi_publisher"/>
	         <result property="biKdc" column="bi_kdc"/>	         
	         <result property="biDtail" column="bi_detail"/>
	         <result property="biImg" column="bi_img"/>
	         <result property="biDate" column="bi_date"/>	              
	 </resultMap>
	 
  	 <resultMap type="ksmart.pentagon.vo.BookCarry" id="bookCarryResultMap">	         
	         <result property="uid" column="u_id"/>
	         <result property="lCode" column="l_code"/>
	         <result property="biIsbn" column="bi_isbn"/>
	         
	         <result property="boCode" column="bo_code"/>	         
	         <result property="boCompany" column="bo_company"/>
	         <result property="boBookNum" column="bo_book_num"/>
	         <result property="boPrice" column="bo_price"/>	         
	         <result property="bosState" column="bo_state"/>
	         <result property="boDate" column="bo_date"/>
	         
	         <result property="bpCode" column="bp_code"/>
	         <result property="bpPrice" column="bp_price"/>
	         <result property="bpBookNum" column="bp_book_num"/>
	         <result property="bpAdditional" column="bp_additional"/>	         
	         <result property="bpDate" column="bp_date"/>   
	         
	         <result property="bdnCode" column="bdn_code"/>
	         <result property="bdnName" column="bdn_name"/>
	         <result property="bdnAddr" column="bdn_addr"/>
	         <result property="bdnTel" column="bdn_tel"/>	         
	         <result property="bdnNum" column="bdn_num"/>
	         <result property="bdnPersonal" column="bdn_personal"/>
	         <result property="bdnSticker" column="bdn_sticker"/>
	         <result property="bdnHonorAgree" column="bdn_honor_agree"/>	         
	         <result property="bdnDate" column="bdn_date"/>          
	         
	         <collection property="bookInformation" resultMap="bookInfoResultMap" />	       	         
	 </resultMap>
	 
	 <resultMap type="ksmart.pentagon.vo.BookRequest" id="bookRequestResultMap">	         
	         <result property="brCode" column="br_code"/>
	         <result property="uId" column="u_id"/>
	         <result property="lCode" column="l_code"/>	         
	         <result property="brTitle" column="br_title"/>
	         <result property="brIsbn" column="br_isbn"/>
	         <result property="brYear" column="br_year"/>	         
	         <result property="brPrice" column="br_price"/>
	         <result property="brAuthor" column="br_author"/>
	         <result property="brPublisher" column="br_publisher"/>	         
	         <result property="brOpinion" column="br_opinion"/>
	         <result property="brProgress" column="br_progress"/>
	         <result property="brCancelReason" column="br_cancel_reason"/>
	         <result property="brDate" column="br_date"/>
	         
	         <collection property="user" resultMap="userResultMap"></collection>              
	 </resultMap>	 
   	 <resultMap type="ksmart.pentagon.vo.User" id="userResultMap">
			<!-- db -->
			<result property="uId" column="u_id"/>
			<result property="uNumber" column="u_number"/>
			<result property="uName" column="u_name"/>
			<result property="uTel" column="u_tel"/>
			<result property="uEmail" column="u_email"/>
			<result property="uEmailAgree" column="u_email_agree"/>
	 </resultMap>
	 
	 <select id="getBookInfo" resultMap="bookInfoResultMap" parameterType="String">
  			SELECT 
				* 
			FROM 
				book_information
			where
				bi_isbn = #{biIsbn}
			    
  	</select>
	 
  	<select id="getRequestList" resultMap="bookRequestResultMap" >
  			SELECT 
				* 
			FROM 
				book_request
			where 
                l_code = #{lCode}
  	</select>
  	<select id="getRequestDatail" resultMap="bookRequestResultMap" parameterType="String">
  			SELECT 
				* 
			FROM 
				book_request br inner join user u
			on 
				br.u_id = u.u_id
			where 
				br.u_id =#{uId}
  	</select> 
  	  	

  	<select id="getOrderList" resultMap="bookCarryResultMap">
			SELECT 
				*
										 
			FROM 
				book_order as bo INNER JOIN book_information as bi
			ON 
			    bo.bi_isbn = bi.bi_isbn
			where 
                bo.l_code = #{lCode}	
  	
  	</select>
  	<select id="getPurchaseList" resultMap="bookCarryResultMap" >
			SELECT 	
				*
			FROM 
				book_purchase as bp INNER JOIN book_information as bi
			ON 
				bp.bi_isbn = bi.bi_isbn;  		
  	
  	</select>
  	<select id="getDonationList" resultMap="bookCarryResultMap">
			SELECT 
				* 
			FROM 
				book_donation
			where 
                l_code = #{lCode}		
  	
  	</select>
  	<select id="getOrderUpdate" resultMap="bookCarryResultMap" parameterType="String">
  		   SELECT 
				*
										 
			FROM 
				book_order as bo INNER JOIN book_information as bi
			ON 
			    bo.bi_isbn = bi.bi_isbn
			where
				bo_code=#{boCode}
  	</select>
  	<select id="getPurchaseUpdate" resultMap="bookCarryResultMap" parameterType="String">
  			SELECT 	
				*
			FROM 
				book_purchase as bp INNER JOIN book_information as bi
			ON bp.bi_isbn = bi.bi_isbn
			where
				bp_code=#{bpCode};
  	</select>
  	<select id="getDonationUpdate" resultMap="bookCarryResultMap" parameterType="String">
  			SELECT 
				* 
			FROM 
				book_donation
		    where
				bdn_code=#{bdnCode};
  	</select>
  	<update id="updateDonation" parameterType="ksmart.pentagon.vo.BookCarry" >
		UPDATE 
			book_donation
		SET
			 bdn_name       = #{bdnName}
			,bdn_tel        = #{bdnTel}
			,bdn_addr       = #{bdnAddr}
			,bdn_num        = #{bdnNum}
			,bdn_sticker    = #{bdnSticker}
			,bdn_personal   = #{bdnPersonal}
			,bdn_honor_agree= #{bdnHonorAgree}
		WHERE 
			 bdn_code = #{bdnCode};	
	</update>
	<update id="updateOrder1" parameterType="ksmart.pentagon.vo.BookCarry" >
		
	        UPDATE 
				book_order as bo INNER JOIN book_information as bi
			ON 
				 bo.bi_isbn = bi.bi_isbn
			SET
				 bo.bo_company   = #{boCompany}
				,bo.bo_book_num  = #{boBookNum}
				,bo.bo_price     = #{boPrice}
			WHERE 
				 bi.bi_isbn = #{biIsbn}

	</update>
	<update id="updateOrder2" parameterType="ksmart.pentagon.vo.BookInformation" >
		
	        UPDATE 
				book_order as bo INNER JOIN book_information as bi
			ON 
				 bo.bi_isbn = bi.bi_isbn
			SET
				 bi.bi_name      = #{biName}
				,bi.bi_author    = #{biAuthor}
				,bi.bi_publisher = #{biPublisher}
				,bi.bi_year      = #{biYear}
			WHERE 
				 bi.bi_isbn = #{biIsbn}

	</update>
	<update id="updatePurchase1" parameterType="ksmart.pentagon.vo.BookCarry" >
		UPDATE 
			book_purchase as bp INNER JOIN book_information as bi
		ON 
			bp.bi_isbn = bi.bi_isbn
		SET
			 bp.bp_price      = #{bpPrice}
			,bp.bp_book_num   = #{bpBookNum}
			,bp.bp_additional = #{bpAdditional}
		WHERE 
			 bi.bi_isbn = #{biIsbn}
    </update>
    <update id="updatePurchase2" parameterType="ksmart.pentagon.vo.BookInformation" >
		UPDATE 
			book_purchase as bp INNER JOIN book_information as bi
		ON 
			bp.bi_isbn = bi.bi_isbn
		SET
			 bi.bi_name     = #{biName}
			,bi.bi_author   = #{biAuthor}
			,bi.bi_publisher= #{biPublisher}
			,bi.bi_year     = #{biYear}
		WHERE 
			 bi.bi_isbn = #{biIsbn}
    </update>
	<insert id="insertBookInfo" parameterType="ksmart.pentagon.vo.BookInformation">
		INSERT INTO 
			book_information
            (bi_isbn, bi_name, bi_year, bi_author
             , bi_publisher, bi_kdc, bi_detail, bi_img, bi_date)
		VALUES 
			(#{biIsbn}, #{biName}, #{biYear}, #{biAuthor}
			, #{biPublisher}, #{biKdc}, #{biDtail}, #{biImg}, CURDATE())
	 
	</insert>
	
  		
  </mapper>