<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ksmart.pentagon.bookstock.CallNumberMapper">
	  <resultMap type="ksmart.pentagon.vo.CallNumber" id="callNumberResultMap">
			<!-- db -->
			<result property="uniUnicode" column="uni_unicode"/>
			<result property="uniHangul" column="uni_hangul"/>
			<result property="uniNum" column="uni_num"/>		
	   </resultMap>
	   	  
	  <select id="makeBsmarkNum" parameterType="String" resultType="String">
			SELECT
				uni_num
			FROM
				unicode
			WHERE
				uni_hangul=#{uniHangul}
			
		</select>
		<select id="checkAuthor" parameterType="String" resultType="String">
			SELECT
				bs_author_mark
			FROM
				book_stock
			WHERE
				bs_author_mark=#{resultStr}
			
		</select>	
 	</mapper>