<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ksmart.pentagon.facility.FacilityMapper">
  
  <resultMap type="ksmart.pentagon.vo.Facility" id="FResultMap">
  	<result property="fCode" column="f_code"/>
  	<result property="lCode" column="l_code"/>
  	<result property="uId" column="u_id"/>
  	<result property="fName" column="f_name"/>
  	<result property="fKinds" column="f_kinds"/>
  	<result property="fLocation" column="f_location"/>
  	<result property="fAccommodate" column="f_accommodate"/>
  	<result property="fGender" column="f_gender"/>
  	<result property="fTerm" column="f_term"/>
  	<result property="fRow" column="f_row"/>
  	<result property="fCol" column="f_col"/>
  	<result property="fSeatOrImg" column="f_seat_or_img"/>
  	<result property="fDate" column="f_date"/>
  </resultMap>
  
  <!-- 시설종류가 xx 인것의 리스트를 출력 -->
  <select id="getFacilityList" parameterType="String" resultMap="FResultMap">
  	SELECT 
	*
	FROM 
		facility
	WHERE
		l_code = #{libNum}
	<if test="fKinds != '전체'">
		AND f_kinds = #{fKinds}
	</if>
  </select>
  
  <!-- fCode 1개를 조회하여 상세정보 출력 -->
  <select id="getFacility" parameterType="String" resultMap="FResultMap">
	SELECT 
		*
	FROM 
		facility
	WHERE
		f_code=#{fCode} AND l_code= #{libNum}
  </select>
  
  <!-- 공공시설 등록하기. -->
  <insert id="insertFacility">
  	INSERT INTO facility
	(f_code, l_code, u_id, f_name, f_kinds, f_location, f_accommodate, f_gender, f_term, f_row, f_col, f_seat_or_img, f_date)
	VALUES (#{fCode}, #{lCode}, #{uId}, #{fName}, #{fKinds}, #{fLocation}, #{fAccommodate}, #{fGender}, #{fTerm}, #{fRow}, #{fCol}, #{fSeatOrImg}, NOW())
  </insert>
  </mapper>