<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="ksmart.pentagon.user.LibraryMapper">
 	<select id="loginCheck" resultType="ksmart.pentagon.vo.User">
 		SELECT 
 			u_id as uId,
 			u_pw as uPw,
 			u_name as uName,
 			u_division as uDivision
		FROM 
			user
		WHERE u_id = #{uId}
 	</select>
 </mapper>