<!DOCTYPE html>
<!-- 도서 검색창 페이지 -->
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
    

		<th:block layout:fragment="customContents">                
	        <!-- Start: Page Banner -->
	        <section class="page-banner services-banner" th:fragment="bookBannerFragment">
            <div class="container">
                <div class="banner-header">
                    <h2>Books Search</h2>
                    <span class="underline center"></span>
                    <p class="lead">검색어를 입력해주세요</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Books</li>
                    </ul>
                </div>
            </div>
        </section>
	        <!-- End: Page Banner -->
	
	        <div id="content" class="site-content" th:fragment="bookListSectionFragment">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-media-list">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                	<section class="search-filters" th:fragment="searchSectionFragment">
							          <div class="row">
                					    <div class="col-md-11 col-md-push-2">
							              <div class="container">
							                 <div class="filter-box">
							                      <form th:action="@{/lifrary/bookDataSearchList}" method="get">							    
							                        <div class="col-md-3 col-sm-6">
							                            <div class="form-group">
							                                <select name="bclCode" id="bclCode" class="form-control">
							                                    <option value="bcl001">단행본</option>
							                                    <option value="bcl002">연속간행물</option>
							                                    <option value="bcl003">비도서</option>                            
							                                </select>
							                            </div>
							                        </div>
							                        <div class="col-md-4 col-sm-6">
							                            <div class="form-group">
							                                <label class="sr-only" for="keywords">Search by Keyword</label>
							                                <input id="biName" name="biName" class="form-control" placeholder="Search by Keyword" type="text">
							                            </div>
							                        </div>
							                        <div class="col-md-2 col-sm-6">					                     
							                            <div class="form-group">
							                                <input class="form-control" type="submit" value="Search">
							                            </div>
							                        </div>
							                    </form>
							                </div>
							            </div>
							           </div>
							          </div>
							        </section>
                                <!-- End: Search Section -->
                            </div>
                          </div>
                     </div>
                </main>
            </div>
        </div>
	       	
        </th:block>

        

</html>