<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		 class="default-style">
<head th:replace="fragments/library/head :: headFragment"></head>
    
    <body class="layout-v3">
        <th:block layout:fragment="customContents">  
		     <div data-ride="carousel" class="carousel" id="home-v1-header-carousel" >
	            <div class="carousel-inner">
	                <div class="item active">
	                    <figure>
	                        <img th:src="@{/library/images/header-slider/home-v3/header-slide.jpg}">
	                    </figure>
	                        <div class="carousel-caption">
	                            <h2>lifrary</h2>
	                            <p><strong>"LIFE" </strong> and <strong>"LIBRARY"</strong></p>
	                            <div class="container-fluid">
	                           		<div class="row">
			                            <div class="filter-box">
			                                <form th:action="@{#}" class="banner-filter-box" method="get">
												<div class="form-group">
			                                        <select name="catalog" id="catalog">
			                                            <option>::도서관 선택::</option>
			                                            <option>펜타곤 도서관</option>
			                                            <option>오각형 도서관</option>
			                                        </select>
			                                    </div>                                       
			                                    <div class="form-group">
			                                        <label class="sr-only" for="keywords">도서명을 입력하세요</label>
			                                        <input class="form-control" placeholder="도서명을 입력하세요" id="keywords" name="keywords" type="text">
			                                    </div>
			                                    <div class="form-group">
			                                    <input class="form-control" type="button" value="Search">
			                               		</div>
			                                </form>
			                            </div>
		                             </div>
		                             <div class="row">
			                            <div class="fun-stuff">
				                		<p><strong>*</strong> 배포 날짜 : 2019-12-17</p>
						                  <div class="facts-counter">
						                      <ul>
						                          <li class="col-sm-3">
						                              <div class="fact-item icon-ebooks">
						                                  <div class="fact-icon">
						                                      <img th:src="@{/library/images/icon-ebooks.png}" alt="" />
						                                  </div>
						                                  <a th:href="@{/pentagon/index}"><span>펜타곤 도서관 <strong>Home</strong></span></a>
						                              </div>
						                          </li>
						                          <li class="col-sm-3">
						                              <div class="fact-item icon-eaudio">
						                                  <div class="fact-icon">
						                                      <img th:src="@{/library/images/icon-eaudio.png}" alt="" /></a>
						                                  </div>
						                                  <a th:href="@{/square/index}"><span>스퀘어 도서관<strong>Home</strong></span>
						                              </div>
						                          </li>
						                          <li class="col-sm-3">
						                              <div class="fact-item icon-magazine">
						                                  <div class="fact-icon">
						                                      <img th:src="@{/library/images/icon-magazine.png}" alt="" />
						                                  </div>
						                                  <a th:href="@{#}"><span>펜타곤 도서관<strong>Admin</strong></span></a>
						                              </div>
						                          </li>
						                          <li class="col-sm-3">
						                              <div class="fact-item icon-videos">
						                                  <div class="fact-icon">
						                                      <img th:src="@{/library/images/icon-videos.png}" alt="" />
						                                  </div>
						                                 <a th:href="@{#}"><span>스퀘어 도서관<strong>Admin</strong></span></a>
						                              </div>
						                          </li>
						                      </ul>
						          		</div>
						          	</div>
		     					</div>
	                       </div>	
	                  </div>
				  </div>
			   </div>
			</div>
         </th:block>
        <footer th:replace="fragments/library/footer :: footerFragment"></footer>
    </body>
</html>