<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
    
    
    <th:block layout:fragment="customContents">
       <section class="page-banner services-banner">
            <div class="container">
                <div class="banner-header">
                    <h2>Book Request</h2>
                    <span class="underline center"></span>
                    <p class="lead">희망 도서 신청</p>
                </div>
                <div class="breadcrumb">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Book Request</li>
                    </ul>
                </div>
            </div>
        </section>
        <div id="content" class="site-content">
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="books-media-list">
                        <div class="container">
                            <div class="row">
                                <!-- Start: Search Section -->
                                
                                <!-- End: Search Section -->
                            </div>
                            <div class="row" style="margin-top: 30px">
                                <div class="col-md-9 col-md-push-3">
                                  <p><h2 style="color: black">희망도서 신청 </h2></p>
                                <div class="card mb-4">      
                                	
                                <!-- <table id="myTable" class="datatables-demo table table-striped table-bordered">                         
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">도서명</th>
				                      th:each="apply, al : ${#}"
								      <td class="align-middle" >
								      	<input type="text" class="form-control" name="brTitle" placeholder="도서명을 입력해주세요.">
								      </td> th:text="${#}" 
				                    <tr>
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">ISBN</th>
				                      <td class="align-middle" >
								      	<input type="text" class="form-control" name="brIsbn" placeholder="ISBN을 입력해주세요.">
								      </td>
				                    <tr>
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">저자명</th>
				                      <td class="align-middle" >
								      	<input type="text" class="form-control" name="brAuthor" placeholder="저자명을 입력해주세요.">
								      </td>
				                    <tr>
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">발행년도</th>
				                      <td class="align-middle" >
								      	<input type="text" class="form-control" name="brYear" placeholder="발행년도를 입력해주세요.">
								      </td>
				                    <tr>
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">가격</th>
				                      <td class="align-middle" >
								      	<input type="text" class="form-control" name="brPrice" placeholder="가격을 입력해주세요.">
								      </td>
				                    <tr>
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">발행자(출판사)</th>
				                       <td class="align-middle" >
								      	 <input type="text" class="form-control" name="brPublisher" placeholder="발행자(출판사)명을 입력해주세요.">
								       </td>
				                    <tr>
				                    <tr>
				                      <th style="font-size: 20px" class="text-middle text-center">의견</th>
				                       <td class="align-middle" >
								      	 <textarea class="form-control" name="brOpinion" placeholder="해당 도서를 신청하는 이유를 작성해주세요."></textarea>
								      </td>						              
				                    </tr>
				                </table> -->
                                
                               <form class="requestF" action="" method="post">		
						                 <div class="form-row">					               
							                 <div class="form-group col-md-6">
							                   <label class="form-label">도서명</label>
							                   <input type="text" class="form-control" name="brTitle" placeholder="도서명을 입력해주세요.">
							                 </div>
							                 <div class="form-group col-md-6">
							                   <label class="form-label">ISBN</label>
							                   <input type="text" class="form-control" name="brIsbn" placeholder="ISBN을 입력해주세요.">
							                 </div>
						                 </div>
						             
						                  <div class="form-row">
							                  <div class="form-group col-md-6">
							                    <label class="form-label">발행년도</label>
							                    <input type="text" class="form-control" name="brYear" placeholder="발행년도를 입력해주세요.">
							                   <!--  <small class="form-text text-muted">Example block-level help text here.</small> -->
							                  </div>
							                  <div class="form-group col-md-6">
							                    <label class="form-label">가격</label>
							                    <input type="text" class="form-control" name="brPrice" placeholder="가격을 입력해주세요.">
							                  </div>
							              </div>
						            	  <div class="form-row">
							                 <div class="form-group col-md-6">
							                   <label class="form-label">저자명</label>
							                   <input type="text" class="form-control" name="brPublisher" placeholder="발행자(출판사)명을 입력해주세요.">
							                 </div>
							                 <div class="form-group col-md-6">
							                   <label class="form-label">발행자(출판사)</label>
							                   <input type="text" class="form-control" name="brYear" placeholder="발행년도를 입력해주세요.">
							               </div>
						              	 </div>				
						              	 <div class="form-row">
							                 <div class="form-group">
							                   <label class="form-label">의견</label>
							                   <textarea class="form-control" name="brOpinion" placeholder="해당 도서를 신청하는 이유를 작성해주세요."></textarea>
							                 </div>						  
						              	 </div>
							                  			                  
					                  <div class="text-right mt-3" style="margin-bottom: 40px">
					                  	<button type="submit" class="btn btn-primary">Submit</button>
					 				  </div>
							       </form> 
                                 </div>    
                                </div>
                                <!-- 마이페이지 사이드메뉴  -->
                                <div th:replace="fragments/library/myPageLeftMenu :: myPageLeftMenuFragment"></div>
                                <!-- 마이페이지 사이드메뉴-->
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </th:block>
</html>