<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<!-- headAdd(Libs&page) -->
  
	  <th:block layout:fragment="adminHeadAdd">
	  
	  <!-- addLibs -->
	      <link rel="stylesheet" th:href="@{/admin/vendor/libs/datatables/datatables.css}">
	      <link rel="stylesheet" th:href="@{/admin/vendor/libs/datatables/select.dataTables.min.css}">
	  <!-- addPage -->
	  
	    <script th:src="@{/admin/vendor/js/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/admin/vendor/js/jquery.dataTables.js}"></script>
	    <script th:src="@{/admin/vendor/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendor/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/admin/vendor/js/buttons.html5.min.js}"></script>
		<script th:src="@{/admin/js/tables_datatables_purchase.js}"></script>
	   
	     
	 
	  </th:block>
	  
<!-- /headAdd(Libs&page) --> 
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>구매예정 도서 리스트</div>
			<button type="button" class="btn btn-primary rounded-pill d-block"><span class="ion ion-md-add"></span>&nbsp; 도서 추가</button>
		</h4>
         
            <!-- DataTable within card -->

            <div class="card">
              
              <div class="card-datatable table-responsive">
                <table id="myTable" class="datatables-demo table table-striped table-bordered">
                
               
                
                  <thead>
                    <tr>
                      <th data-orderable="false">ISBN</th>
                      <th>도서명</th>
                      <th>저자명</th>
                      <th>발행자</th>
                      <th>발행년도</th>
                      <th>결제가격</th>
                      <th>예정권수</th>
                      <th data-orderable="false">추가사항</th>
                      <th>등록일</th>
                      <th>수정/삭제</th>                  
                    </tr>
                  </thead>
                  
                  <tbody>
				    <tr th:each="pl : ${purchaseList}">
				      <td class="align-middle" th:text="${pl.bookInformation.biIsbn}"></td>
				      <td class="align-middle" th:text="${#strings.abbreviate(pl.bookInformation.biName,15)}"></td>
				      <td class="align-middle" th:text="${#strings.abbreviate(pl.bookInformation.biAuthor,15)}"></td>
				      <td class="align-middle" th:text="${pl.bookInformation.biPublisher}"></td>
				      <td class="align-middle" th:text="${pl.bookInformation.biYear}"></td>
				      <td class="align-middle" th:text="${pl.bpPrice}"></td>
				      <td class="align-middle" th:text="${pl.bpBookNum}"></td>
				      <td class="align-middle" th:text="${pl.bpAdditional}"></td>
				      <td class="align-middle" th:text="${pl.bpDate}"></td>
				      <td class="align-middle align-center">
		               	 <a th:href="@{#}" class="btn icon-btn btn-sm btn-outline-secondary" title="수정">
		               	 	<span class="ion ion-ios-create d-block"></span>			               	 
		               	 </a>
		               	 <a th:href="@{#}" class="btn icon-btn btn-sm btn-outline-secondary" title="삭제">
		               	 	<span class="ion ion-ios-cut d-block"></span>			               	 
		               	 </a>
                      </td> 	
				    </tr>
				  </tbody> 
                </table>
              </div>
            </div>
                        

          </th:block>
          
          <!-- / Content -->
         
          <!-- script -->
          <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		    <script th:src="@{/admin/vendor/libs/datatables/datatables.js}"></script> 
		    <script th:src="@{/admin/vendor/libs/datatables/dataTables.select.min.js}"></script>
		
		  <!-- addDemo -->
		    
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>