<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
<!-- headAdd(Libs&page) -->
  
	  <th:block layout:fragment="adminHeadAdd">
	  
	 <!-- addLibs -->
	      <link rel="stylesheet" th:href="@{/admin/vendor/libs/datatables/datatables.css}">
	      <link rel="stylesheet" th:href="@{/admin/vendor/libs/datatables/select.dataTables.min.css}">
	  <!-- addPage -->
	  
	    <script th:src="@{/admin/vendor/js/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/admin/vendor/js/jquery.dataTables.js}"></script>
	    <script th:src="@{/admin/vendor/js/dataTables.responsive.min.js}"></script>
	    <script th:src="@{/admin/vendor/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/admin/vendor/js/buttons.html5.min.js}"></script>
		<script th:src="@{/admin/js/tables_datatables_donation.js}"></script>
	   
	     
	 
	  </th:block>
	  
<!-- /headAdd(Libs&page) --> 
 
 
  <!-- Content -->
         <th:block layout:fragment="adminContents">
         
         <h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>도서 기부 신청자 리스트</div>
			<button type="button" class="btn btn-primary rounded-pill d-block"><span class="ion ion-md-add"></span> 
				 <a th:href="@{/admin/bookDonationInsert}" style="color: white"> 신청자 추가 </a>
			</button>
		 </h4>
         
            <!-- DataTable within card -->

            <div class="card">
              <div class="card-datatable table-responsive">
                <table id="myTable" class="datatables-demo table table-striped table-bordered">
                
               
                
                  <thead>
                    <tr>
                      <th>성명</th>
                      <th data-orderable="false">연락처</th>
                      <th>주소</th>
                      <th>권수</th>
                      <th>개인정보수집</th>
                      <th>기증스티커</th>
                      <th>명예전당</th>
                      <th>신청일</th> 
                      <th>상세&수정</th>
                      <th>삭제</th>                   
                    </tr>
                  </thead>
                  
                  <tbody>
				    <tr th:each="d : ${donationList}">
				      <td class="align-middle" th:text="${d.bdnName}"></td>
				      <td class="align-middle" th:text="${d.bdnTel}"></td>
				      <td class="align-middle" th:text="${d.bdnAddr}"></td>
				      <td class="align-middle" th:text="${d.bdnNum}"></td>
				      <td class="align-middle text-center">
				      	 <span th:if="${d.bdnPersonal eq 'O'}"  class="badge badge-outline-success">동의</span>
				     	 <span th:unless="${d.bdnPersonal eq 'O'}" class="badge badge-outline-danger">비동의</span>
				      </td>
				      <td class="align-middle text-center">
				      	 <span th:if="${d.bdnSticker eq 'O'}" class="badge badge-outline-success">부착</span>
				      	 <span th:unless="${d.bdnSticker eq 'O'}" class="badge badge-outline-danger">미부착</span>				      
				      </td>
				      <td class="align-middle text-center">
				      	 <span th:if="${d.bdnHonorAgree eq 'O'}"  class="badge badge-outline-success">등록</span>
				         <span th:unless="${d.bdnHonorAgree eq 'O'}"  class="badge badge-outline-danger">미등록</span>
				      </td>
				      <td class="align-middle" th:text="${d.bdnDate}"></td>	
				      <td class="align-middle align-center">
			      		<button title="" class="btn btn-default btn-xs icon-btn md-btn-flat user-tooltip" type="button" data-original-title="Edit">
						   <a th:href="@{/admin/bookDonationUpdate(bdnCode=${d.bdnCode})}" title="수정">
							 <i class="ion ion-md-create" title="수정"></i>
						   </a>
						</button>
                      </td> 
                      <td class="align-middle align-center">
                      	<button title="" class="btn btn-default btn-xs icon-btn md-btn-flat user-tooltip" type="button" data-original-title="Edit">
						   <a href="#" title="삭제">
							 <i class="ion ion-ios-cut d-block" title="삭제"></i>
						   </a>
						</button>
                      </td>	 	
				    </tr>
				  </tbody> 
                </table>
              </div>
            </div>
                        

          </th:block>
          
          <!-- / Content -->
         
          <!-- script -->
          <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		    <script th:src="@{/admin/vendor/libs/datatables/datatables.js}"></script> 
		    <script th:src="@{/admin/vendor/libs/datatables/dataTables.select.min.js}"></script>
		
		  <!-- addDemo -->
		    
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>