<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	 
	          <!-- Content -->
	      <th:block layout:fragment="adminContents">
          <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              <span class="text-muted font-weight-light">Forms /</span> 주문 도서 등록
            </h4>

            <div class="card mb-4">
              <div class="card-body">
                <form id="validation-form" action="" method="post" >
                  <div class="form-group">
	                 <div class="form-group ">
	                   <label class="form-label" >ISBN</label>
			            <div class="input-group" action="" method="post">
		                  <input type="text" class="form-control" placeholder="ISBN">
		                </div>        
	                 </div>  
	              </div>
                  <div class="form-row">
	                  <div class="form-group col-md-6">
	                    <label class="form-label" >도서명</label>
	                    <input type="text" class="form-control" name="bi_name" placeholder="bookname">
	                   <!--  <small class="form-text text-muted">Example block-level help text here.</small> -->
	                  </div>
	                  <div class="form-group col-md-6">
	                    <label class="form-label">저자명</label>
	                    <input type="password" class="form-control" name="bi_author" placeholder="authors">
	                  </div>
	              </div>
            	  <div class="form-row">
	                 <div class="form-group col-md-6">
	                   <label class="form-label">발행자</label>
	                   <input type="password" class="form-control" name="bi_publisher" placeholder="publisher">
	                 </div>
	                 <div class="form-group col-md-6">
	                   <label class="form-label">발행년도</label>
	                   <input type="text" class="form-control" name="bi_year" placeholder="publication year">
	                 </div>
                  </div>
                  <div class="form-row">
	                  <div class="form-group col-md-4">
	                    <label class="form-label">주문업체명</label>
	                    <input type="text" class="form-control" name="bo_company" placeholder="price">
	                  </div>
	                  <div class="form-group col-md-4">
	                    <label class="form-label">주문권수</label>
	                    <select class="form-control" name="bo_book_num">
	                   		<option value="1">1</option>
	                        <option value="2">2</option>
	                        <option value="3">3</option>
	                        <option value="4">4</option>
	                        <option value="5">5</option>
	                    </select>
	                  </div>
	                  <div class="form-group col-md-4">
	                    <label class="form-label">결제금액</label>
	                    <input type="text" class="form-control" name="bo_price" placeholder="price">
	                  </div>
                  </div>
                  
                  <div class="text-right mt-3">
                  	<button type="submit" class="btn btn-primary">Submit</button>
 				  </div>
                </form>
              </div>
            </div>

          </div>
          <!-- / Content -->
	 
  
</html>