<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
    
  <th:block layout:fragment="libraryTitle">
    	<title>..:: WELCOME LIFRARY ::..</title>
  </th:block>
    <th:block layout:fragment="customContents">
  <th:block layout:fragment="customScript">
	   <script type="text/javascript" th:inline="javascript">  
	      $(document).ready(function(){  
	   	   
	   		// 유효성검사 시작
	   		$('#searchBtn').click(function(){   			
	   			var biName = $('#biName');
	   			console.log(biName.val());
	   			
	   			if(biName.val() == ''){
	   				alert('검색어를 입력해주세요');
	   				biName.focus();
	   				return false;
	   			}
	   			    			
	   			$('#searchForm').submit();
	   			
	   		}); // 유효성검사 끝    		
	   	}); // 처음 function끝
	   	    	
	   	</script>
   </th:block>
       
        <!-- Start: Slider Section -->
        	<div th:replace="fragments/library/sliderSection :: sliderSectionFragment"></div>
        <!-- End: Slider Section -->
        
        
        <!-- Start: Search Section -->
        	<section th:replace="fragments/library/searchSection :: searchSectionFragment"></section>
        <!-- End: Search Section -->
        
        <!-- Start: Features -->
        <section th:replace="fragments/library/programIndex :: programIndexFragment"></section>
        <!-- End: Features -->
        
        <!-- Start: Category Filter -->
        <!--	<section th:replace="fragments/library/categoryFilter :: categoryFilterFragment"></section>-->
        <!-- End: Category Filter -->       
               
               
        <!-- Start: Features -->
        <!--	<section th:replace="fragments/library/features :: featuresFragments"></section> -->
        <!-- End: Features -->
        
        
        
       
    </th:block>
</html>