<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">

 <!-- headAdd(Libs&page) -->
  
  <th:block layout:fragment="adminHeadAdd">
  
  
  <!-- addLibs -->
  <link rel="stylesheet" th:href="@{/admin/vendor/libs/datatables/datatables.css}">
  <link rel="stylesheet" th:href="@{/admin/vendor/libs/nouislider/nouislider.css}">

  <!-- addPage -->
  <link rel="stylesheet" th:href="@{/admin/vendor/css/pages/products.css}">
  </th:block>
  
  <!-- /headAdd(Libs&page) --> 
  <!-- teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
  <th:block layout:fragment="teamHeadScript">
  <script type="text/javascript">
  $(document).ready(function(){
	  
	  //도서정보 검색폼을 실행시키는 자바스크립트
	  $('#bookInfoBtn').click(function(){
	  
	  var bookinfo = $('[name="svBook"]').val();
	  
	  if( bookinfo == ''){
		  alert('검색내용을 입력해주세요');
	  }
	  else{
		  $('#bookInfoForm').submit();
	  }
	  
 	 });
  });//document.ready
 
 </script>
 
 
  </th:block>
  <!-- / teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
	  
	 
	<!-- Content -->
	<th:block layout:fragment="adminContents">   
		<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
			<div>대출 관리</div>
			<button type="button" class="btn btn-primary rounded-pill d-block"><span class="ion ion-md-add"></span>&nbsp; Add product</button>
		</h4>

	<!-- Filters -->
	<div class="ui-bordered px-4 pt-4 mb-4">
		<div class="row">
			<div class="col-sm-6">
				<div class="card mb-4">
					<h5 class="card-header">서지 정보</h5>
					<div class="card-body">
						<form th:action="@{lendbookinfo.do}" id="bookInfoForm" method="post">
							<div class="input-group">
								<div class="input-group-prepend">
	                    			<span class="input-group-text">도서코드</span>
	                 			</div>
	                       		<input type="text" name="svBook" class="form-control" placeholder="Search for...">
	                        	<span class="input-group-append">
	                         		<button type="button" id="bookInfoBtn" class="btn icon-btn btn-outline-primary">
	                        			<span class="fas fa-search"></span>
	                      			</button>
	                        	</span>
	                      	</div>
	                    </form>	
		                <table class="table user-view-table m-0">
		                  <tbody>
		                    <tr>
		                      <td>도서코드:</td>
		                      <td colspan="3">소장도서코드</td>
		                    </tr>
		                    <tr>
		                      <td>도서명:</td>
		                      <td colspan="3">1234567891234567891234567891234567891234</td>
		                    </tr>
		                    <tr>
		                      <td>ISBN:</td>
		                      <td colspan="3">1204080506107</td>
		                    </tr>
		                    <tr>
		                      <td>청구기호:</td>
		                      <td>800최56ㄴ</td>
		                      <td>저자명:</td>
		                      <td>최네모</td>
		                    </tr>
		                    <tr>
		                      <td>발행자:</td>
		                      <td>멍뭉</td>
		                      <td>발행년도:</td>
		                      <td>2019</td>
		                    </tr>
		                    <tr>
		                      <td>도서상태:</td>
		                      <td><span class="ion ion-md-checkmark text-primary"></span>&nbsp; 정상</td>
		                      <td>대출가능상태:</td>
		                      <td><span class="ion ion-md-close text-danger"></span>&nbsp; 예약</td>
		                    </tr>
		                  </tbody>
		                </table>
              		</div>
		   		</div>
		 	</div>
			<div class="col-sm-6">
				<div class="card mb-4">
					<h5 class="card-header">회원 정보</h5>
					<div class="card-body">
						<form>
							<div class="input-group">
								<div class="input-group-prepend">
	                    			<span class="input-group-text">회원번호</span>
	                 			</div>
	                       		<input type="text" class="form-control" placeholder="Search for...">
	                        	<span class="input-group-append">
	                         		<button type="button" class="btn icon-btn btn-outline-primary">
	                        			<span class="fas fa-search"></span>
	                      			</button>
	                        	</span>
	                      	</div>
                      	</form>
		                <table class="table user-view-table m-0">
		                  <tbody>
		                  	<tr>
		                      <td>회원번호:</td>
		                      <td>100000001</td>
		                      <td>ID:</td>
		                      <td>id001</td>
		                    </tr>
		                    <tr>
		                      <td>회원명:</td>
		                      <td>최세모</td>
		                      <td>회원레벨:</td>
		                      <td>새싹</td>
		                    </tr>
		                    <tr>
		                      <td>대출상태:</td>
		                      <td colspan="3"><span class="ion ion-md-checkmark text-primary"></span>&nbsp; Yes</td>
		                    </tr>
		                    <tr>
		                      <td>대출가능권수:</td>
		                      <td colspan="3">2권</td>
		                    </tr>
		                    <tr>
		                      <td>누적연체일:</td>
		                      <td colspan="3">0일</td>
		                    </tr>
		                    <tr>
		                      <td>대출제한일:</td>
		                      <td colspan="3">2019-12-04</td>
		                    </tr>
		                  </tbody>
		                </table>
              		</div>
		   		</div>
		 	</div>
		</div>
		<form>
			<input type="hidden" name="" value="">
			<input type="hidden" name="" value="">
			<div class="text-center form-group">
				<button type="button" class="btn btn-primary">대출</button>
				<button type="button" class="btn btn-outline-default">반납</button>
			</div>
		</form>
	</div>
	<!-- / Filters -->

	<div class="card">
    	<div class="card">
              <div class="card-datatable table-responsive">
                <table class="datatables-demo table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th>도서코드</th>
                      <th>도서명</th>
                      <th>대출일</th>
                      <th>반납예정일</th>
                      <th>반납일</th>
                      <th>연체일</th>
                      <th>연장</th>
                      <th>취소</th>
                    </tr>
                  </thead>
                  <tbody>
	                  <tr role="row" th:each="L : ${lendList}">
	                    <td class="align-middle" th:text="${L.bsCode}"></td>
	                    <td style="min-width: 300px;">
			               	 	<div class="media align-items-center">
			               	 		<img class="ui-w-40 d-block" th:src="${L.biImg}" alt="">
			               	 		<a href="javascript:void(0)" class="media-body d-block text-body ml-3" th:text="${#strings.abbreviate(L.biName,25)}"></a>
			               	 	</div>
			               	 </td>
	                    <td class="align-middle" th:text="${L.blLendDate}"></td>
	                    <td class="align-middle" th:text="${L.blScheduleDate}"></td>
	                    <td class="align-middle" th:text="${L.blReturnDate}"></td>
	                    <td class="align-middle" th:text="|${L.blOverdueDays}일|"></td>
	                    <td class="align-middle text-center" th:if = "${L.blExtensionDate != null}">
	                    	<a href="javascript:void(0)">
	                    		<span class="badge badge-outline-success">연장완료</span>
	                    	</a>	
	                    </td>
	                    <td class="align-middle text-center" th:unless = "${L.blExtensionDate != null}">
	                    	<a href="javascript:void(0)">
	                    		<span class="badge badge-outline-info">연장하기</span>
	                    	</a>	
	                    </td>
	                    <td class="align-middle">
			               	<a href="javascript:void(0)" class="btn btn-default btn-xs icon-btn md-btn-flat product-tooltip" title="" data-original-title="취소">
			               	 	<i class="ion ion-ios-refresh"></i>
			               	</a>
	                    </td>
	                  </tr>
                  </tbody>
                </table>
              </div>
            </div>          
    </div>
	</th:block>
	<!-- / Content -->
 	<!-- scripts -->
	
	<th:block layout:fragment="pageScript">
	
	<!-- addLibs -->
	<script th:src="@{/admin/vendor/libs/datatables/datatables.js}"></script>
	<script th:src="@{/admin/vendor/libs/numeral/numeral.js}"></script>
	<script th:src="@{/admin/vendor/libs/nouislider/nouislider.js}"></script>

	<!-- addDemo -->
	<script th:src="@{/admin/js/booklend_tables.js}"></script>
	</th:block>
	<!-- / scripts -->
	          
</html>
