<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
	  
	  <th:block layout:fragment="adminHeadAdd">
	  <link rel="stylesheet" th:href="@{/admin/vendor/libs/select2/select2.css}">
 	  <link rel="stylesheet" th:href="@{/admin/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.css}">
 	  <link rel="stylesheet" th:href="@{/admin/vendor/css/pages/users.css}">
 	  </th:block>
 	  
 	  <th:block layout:fragment="teamHeadScript">
 	  <script type="text/javascript" th:inline="javascript">
 	  
	   $(document).ready(function(){  	
		// 도서 정보 가져오기   
    	   $('#bookInfoBtn').click(function(){  			
  				var biIsbn = $('#biIsbn').val();
  				console.log($.trim(biIsbn));
  				
  				var request = $.ajax({
  					url:"/getBookInfo",
  					method: "POST",
  					data : { 'biIsbn' : biIsbn }, 
  					dataType: "json"
  				});
  				 
  				request.done(function( data ) {
  					console.log(data.biName);
  					
  	    			var biName        = $('#biName');
  	    			var biAuthor      = $('#biAuthor');
  	    			var biPublisher   = $('#biPublisher');
  	    			var biYear        = $('#biYear');
  	    			var biKdc         = $('#biKdc');
  					
  		 			biName.val(data.biName);
  		 			biAuthor.val(data.biAuthor);
  		 			biPublisher.val(data.biPublisher);
  		 			biYear.val(data.biYear);
  		 			biKdc.val(data.biKdc);
  					
  				});
    	   });
		  
    		// 유효성검사 시작
    		$('#insertBtn').click(function(){
      			
    			var biIsbn        = $('#biIsbn');
    			var biName        = $('#biName');
    			var biAuthor      = $('#biAuthor');
    			var bsCallNum     = $('#bsCallNum');
    			var bclName       = $('#bclName');
    			var bcmName       = $('#bcmName');
    			var biPublisher   = $('#biPublisher');
    			var biYear        = $('#biYear');
    			var bsTotalPage   = $('#bsTotalPage');
    			var bsCarryRoute  = $('#bsCarryRoute');
    			var biKdc         = $('#biKdc');
    			
    			
    			if(biIsbn.val() == ''){
    				alert('도서의 ISBN을 입력해주세요.');
    				biIsbn.focus();
    				return false;
    			}
    			if(biName.val() == ''){
    				alert('도서명을 입력하세요');
    				biName.focus();
    				return false;
    			}
    			if(biAuthor.val() == ''){
    				alert('저자명을 입력하세요');
    				biAuthor.focus();
    				return false;
    			}
    			if(biKdc.val() == ''){
    				alert('KBC를 입력하세요');
    				biKdc.focus();
    				return false;
    			}
    			if(bsCallNum.val() == ''){
    				alert('청구기호 입력하세요(청구기호 생성 버튼을 클릭해주세요)');
    				bsCallNum.focus();
    				return false;
    			}
    			if(bclName.val() == ''){
    				alert('대분류를 입력하세요');
    				bclName.focus();
    				return false;
    			}
    			if(bcmName.val() == ''){
    				alert('중분류를 입력하세요');
    				bcmName.focus();
    				return false;
    			}
    			if(biPublisher.val() == ''){
    				alert('발행자(발행사)를 입력하세요');
    				biPublisher.focus();
    				return false;
    			}
    			if(biYear.val() == ''){
    				alert('발행년도를 입력하세요');
    				biYear.focus();
    				return false;
    			}
    			if(bsTotalPage.val() == ''){
    				alert('도서의 총페이지수를 입력하세요');
    				bsTotalPage.focus();
    				return false;
    			}
    			if(bsCarryRoute.val() == '0'){
    				alert('도서의 반입구를 선택하세요');
    				bsCarryRoute.focus();
    				return false;
    			}
    			
    			$('#insertForm').submit();
    			
    		}); // 유효성검사 끝    		
    	}); // 처음 function끝
	 
	 </script>
	 </th:block>
 
  <!-- Content -->
      <th:block layout:fragment="adminContents">
        <div class="container-fluid flex-grow-1 container-p-y">

            <h4 class="font-weight-bold py-3 mb-4">
              	도서 추가
            </h4>

            <div class="nav-tabs-top">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="user-edit-account">

                  <div class="card-body">
                    <div class="media align-items-center">
                        <img alt="" class="d-block ui-w-80"><!-- th:src="${#}"  -->
                  </div>

                  </div>
                  <hr class="border-light m-0">
                  <div class="card-body pb-2" >
                  
                  
				    <form id="insertForm" th:action="@{/admin/stockDetailInsert}" method="post">
				        <!-- th:action="@{#}" method="post" -->
				        <div class="form-row">
						    <div class="form-group col-md-6">
			                   <label class="form-label" >ISBN</label>
					            <div class="input-group">
				                  <input type="text" id="biIsbn" name="biIsbn" class="form-control" placeholder="Search for ISBN">		                 
				                  <span class="input-group-append">
				                    <button id="bookInfoBtn" class="btn btn-secondary" type="button">도서정보 가져오기</button>
				                  </span>
				                </div>        
			                </div>  
			                <div class="form-group col-md-6">
		                      <label class="form-label">저자</label>
		                      <input type="text" class="form-control" id="biAuthor" name="biAuthor" placeholder="author">
		                    </div>
	                    </div>
	                    <div class="form-row">
		                    <div class="form-group col-md-6">
		                      <label class="form-label">도서명</label>
	                     	  <input type="text" class="form-control mb-1" id="biName" name="biName" placeholder="book name"><!-- th:value="${#}"  --> 
		                    </div>
		                    <div class="form-group col-md-3">
		                      <label class="form-label">별치기호</label>
		                      <select class="form-control" id="bsAliasMark" name="bsAliasMark">
		                      		<option value="" selected>없음-일반 단행본</option>
	                   				<option value="B.">B-점자도서</option>
	                   				<option value="R.">R-참고도서</option>
	                   				<option value="M.">M-지도</option>
	                   				<option value="P.">P-국내외 일반 연속간행물</option>
	                   				<option value="T.">T-학위논문</option>
	                   				<option value="C.">C-만화자료</option>	       
	                   		  </select>
		                    </div>
		                    <div class="form-group col-md-3">
		                      <label class="form-label">KBC</label>
		                      <input type="text" class="form-control" id="biKdc" name="biKdc" placeholder="KBC">
		                    </div>	
		                </div>
		                <div class="form-row">
		                	<div class="form-group col-md-3">
		                      <label class="form-label">부차적기호</label>
		                      <input type="text" class="form-control" id="bsSecondaryMark" name="bsSecondaryMark" placeholder="복본:c.숫자 , 권호:v.숫자">
		                    </div>		               
		                    <div class="form-group col-md-6">
		                      <label class="form-label">청구기호</label>
		                      <input type="text" class="form-control mb-1" id="bsCallNum" name="bsCallNum" placeholder="call number">	                   
		                    </div>
		                    <div class="form-group col-md-3">
		                      <!-- <label class="form-label">청구기호 생성</label> -->
		                      <br><button id="callNumberBtn" type="button" class="btn rounded-pill btn-secondary">청구기호 생성</button>              
		                    </div>
		                </div>
		                <div class="form-row">
		                    <div class="form-group col-md-4">
		                      <label class="form-label">대분류</label>
		                      <input type="text" class="form-control" id="bclName" name="bclName" placeholder="classification">
		                    </div>
		                    <div class="form-group col-md-4">
		                      <label class="form-label">중분류</label>
		                      <input type="text" class="form-control mb-1" id="bcmName" name="bcmName" placeholder="classification">
		                    </div>
		                    <div class="form-group col-md-4">
		                      <br>
		                      <button id="classificationBtn" type="button" class="btn rounded-pill btn-secondary">분류기호 선택</button>  
		                    </div>
		                </div>
		                <div class="form-row">
		                    <div class="form-group col-md-6">
		                      <label class="form-label">발행자</label>
		                      <input type="text" class="form-control" id="biPublisher" name="biPublisher" placeholder="publisher">
		                    </div>
		                    <div class="form-group col-md-6">
		                      <label class="form-label">발행년도</label>
		                      <input type="text" class="form-control mb-1" id="biYear" name="biYear" placeholder="year">
		                    </div>
		                </div>
		                <div class="form-row">
		                    <div class="form-group col-md-6">
		                      <label class="form-label">총페이지</label>
		                      <input type="text" class="form-control" id="bsTotalPage" name="bsTotalPage" placeholder="total page">
		                    </div>
		                    <div class="form-group col-md-6">
		                      <label class="form-label">반입구</label>
		                      <select class="form-control" id="bsCarryRoute" name="bsCarryRoute">
		                      		<option value="0" selected>::반입구를 선택해주세요::</option>
	                   				<option value="구매">구매</option>
	                   				<option value="기부">기부</option>
	                   				<option value="기타">기타</option>	       
	                   		  </select>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="form-label">상세내용</label>
		                    <textarea class="form-control" id="biDtail" name="biDtail" placeholder="datail"></textarea>
	                    </div>
	                    
	                    <div class="text-right mt-3">
	                      <button type="button" class="btn btn-primary">
						     <a th:href="@{/admin/stockSearchList}" style="color: white">리스트로 이동</a>
						  </button>	                    	
			              <button id="insertBtn" type="button" class="btn btn-primary">소장 도서 추가</button>             
			            </div>	
			            
			                           	              
	                 </form>     
                  </div>
                </div>
                
              </div>
            </div>

            
     
          </div>
      </th:block>
          
          <!-- / Content -->
         
          <!-- script -->
         
  		  <!-- /script -->
  		  
  		  <th:block layout:fragment="adminFootScript">
  		  <script th:src="@{/admin/vendor/libs/select2/select2.js}"></script>
  		  <script th:src="@{/admin/vendor/libs/bootstrap-tagsinput/bootstrap-tagsinput.js}"></script>
  		  
  		  <script th:src="@{/admin/js/pages_users_edit.js}"></script>
  		  
  		  </th:block>
  		  
          
</html>