<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin/adminDefault}" class="default-style">

  <!-- teamScript(각페이지에서 각자 구현할 자바스크립트)  -->
  <th:block layout:fragment="teamHeadScript">
  	<script>
	$(document).ready(function(){
		$('#textBtn').click(function(){
			var textVal = $('#text').val();
		
  	
	  	var request = $.ajax({
	  	  url: "/testVal",
	  	  method: "POST",
	  	  data: { 'textVal' : textVal },
	  	  dataType: "json"
	  	});
	  	 
	  	request.done(function( data ) {
	  		console.log(data)
	  	});
	  	 
	  	request.fail(function( jqXHR, textStatus ) {
	  	  alert( "Request failed: " + textStatus );
	  	});
	  	})
	});
  	</script>
  </th:block>
  <!-- / teamScript(각페이지에서 각자 구현할 자바스크립트)  -->

<!-- Content -->
<th:block layout:fragment="adminContents">

	<input type="text" id="text" name="text">
	<input type="submit" id="textBtn" name="textBtn" value="확인하기">
	
</th:block>

<!-- / Content -->

<!-- script -->
<th:block layout:fragment="pageScript">


</th:block>
<!-- /script -->



</html>