<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{layout/admin/adminDefault}"
	  class="default-style">
 
 
 		 <!-- Content -->
         <th:block layout:fragment="adminContents">
          <div>
	   <a th:href="@{/admin/noticeSearchList}" class="btn btn-primary">수정완료</a>
	   </div>
	   <br>
	   <br>
         </th:block>
          
         <!-- / Content -->
         
         <!-- script -->
         <th:block layout:fragment="pageScript">

		  <!-- addLibs -->
		  <script th:src="@{/admin/vendor/libs/chartjs/chartjs.js}"></script>
		
		  <!-- addDemo -->
		  <script th:src="@{/admin/js/dashboards_dashboard-1.js}"></script>
		  </th:block>
  		  <!-- /script -->
  		  
  		  
          
</html>