<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/library/libraryDefault}">
		
		<th:block layout:fragment="customContents">
			<!-- Start: Page Banner -->
	        	<section th:replace="fragments/library/facilityBanner :: facilityBannerFragment"></section>
	        <!-- End: Page Banner -->
		
	       
	        <!-- Start: reading Room Section -->
	        	<section th:replace="fragments/library/facilitySection :: facilitySectionFragment"></section>
	        <!-- End: reading Room Section -->
	       	       
		</th:block>
</html>